:host {
	display: block;
	max-height: calc(100% - 50px);
	padding-bottom: 50px;
	overflow: auto;

	.title {
		margin: 24px 8px;

		color: var(--orange);
	}
	.quest {
		border: 1px solid #eee;
		background: #fff;
		padding: 16px;
		.score,
		h3,
		p {
			margin: 4px;
		}
		p {
			color: #444;
		}
		.share {
			color: dodgerblue;
		}
	}
}
