<ng-container *ngIf="park | async as park">
  <app-parkswitch [park]="park"></app-parkswitch>

  <h1 class="title">Quests</h1>

  <div class="quest" *ngFor="let quest of quests | async">
    <div class="score">⭐{{ quest.fields.score }}</div>

    <h3 class="quest-title">
      {{ quest.fields.title }}
    </h3>
    <p>
      {{ quest.fields.description }}
    </p>

    <a class="share" [href]="'https://www.facebook.com/sharer/sharer.php?u=' + locationUrl" target="_blank">Share on
      Facebook</a>


  </div>

  <app-nav [park]="park"></app-nav>
</ng-container>
