<ng-container *ngIf="park | async as park">
  <app-parkswitch [park]="park"></app-parkswitch>
  <h1 class="title">Routes</h1>

  <div class="route" *ngFor="let route of park.fields.routes">

    <a [href]="route.fields.link">


      <h3 class="route-title">
        {{ route.fields.title }}
      </h3>
      <p>
        {{
          route.fields.description
        }}
      </p>

    </a>

  </div>

  <app-nav [park]="park"></app-nav>
</ng-container>
