:host {
	display: block;
	max-height: calc(100% - 50px);
	padding-bottom: 50px;
	overflow: auto;
	.title {
		margin: 24px 8px;

		color: var(--orange);
	}
	.route {
		border: 1px solid #eee;
		background: #fff;
		padding: 16px;
		a {
			color: #000;
			text-decoration: none;
		}
		h3,
		p {
			margin: 4px;
		}
		p {
			color: #444;
		}
	}
}
