:host {
  font-size: 18px;
  margin-bottom: 12px;
  width: calc(100% - 24px);
  padding: 20px 12px;
  display: flex;
  background: #fff;
  color: var(--orange);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.15);
  span {
    margin-right: 12px;
  }
}
