<img class="logo" src="/assets/logo.jpg" alt="logo" />

<h1 class="title">Hello explorer!</h1>

<div class="line"></div>

<h2 class="subtitle">Choose your destination</h2>

<div class="item" *ngFor="let park of parks | async" [routerLink]="['/', 'park', park.sys.id]">
  <img class="bg" [src]="'https:' + park.fields.image.fields.file.url + '?q=50&w=500'" alt="park" />
  <h3 class="park-title">
    {{ park.fields.title }}
  </h3>
</div>
