:host {
	display: flex;
	align-items: center;
	text-align: center;
	flex-flow: column;

	.logo {
		height: 120px;
	}
	.title {
		margin: 0 12px;
		color: var(--orange);
	}
	.line {
		width: 50px;
		height: 2px;
		background: var(--orange);
	}
	.subtitle {
		color: var(--orange);
	}

	.item {
		position: relative;
		margin: 10px auto;
		z-index: 1;
		width: 100vw;
		max-width: 100%;
		padding: 50px 0;
		.park-title {
			color: #fff;
			z-index: 1;
			text-shadow: 10px 4px 8px rgba(0, 0, 0, 0.7);
			text-transform: uppercase;
		}
		.bg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
			z-index: -100;
		}
	}
}
