:host {
	display: block;
	max-height: calc(100% - 50px);
	padding-bottom: 50px;
	overflow: auto;
	.title {
		color: var(--orange);
	}
	.box {
		padding: 14px;
		background: url('/assets/bg2.png');
		background-size: cover;
		margin-bottom: 20px;
		.box-title {
			margin: 6px 4px;
			text-shadow: 1px 0px 4px var(--gradient);
			font-size: 22px;
			color: #fff;
			text-transform: uppercase;
		}
		.box-de {
			margin: 24px 4px;
			text-shadow: 1px 0px 2px var(--gradient);
			font-size: 16px;
			color: #fff;
		}
		.box-button {
			color: var(--blue);
			background-color: #fff;
			border-radius: 4px;
			font-weight: 600;
			padding: 6px 16px;
			border: none;
		}
	}
}
