<ng-container *ngIf="park | async as park">
  <app-parkswitch [park]="park"></app-parkswitch>

  <!-- <markdown [data]="park.fields.description"></markdown> -->

  <div class="box" routerLink="routes">
    <h2 class="box-title">Routes</h2>
    <p class="box-de">See what routes can be found at this park.</p>
    <button class="box-button">Explore routes</button>
  </div>
  <div class="box" routerLink="activities">
    <h2 class="box-title">Services</h2>
    <p class="box-de">Find out how you can spend your time at the park.</p>
    <button class="box-button">Experience the park</button>
  </div>
  <div class="box" routerLink="quests">
    <h2 class="box-title">Quests</h2>
    <p class="box-de">Go on to exciting quests and collect points. How many points can you gather?</p>
    <button class="box-button">Start your adventure</button>
  </div>
  <app-nav [park]="park"></app-nav>
</ng-container>
