<div [routerLink]="['/park', park.sys.id]" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:
  true}">
  <div class="ball"></div>
  Info
</div>
<div [routerLink]="['/park', park.sys.id, 'routes']" routerLinkActive="active" class="item">
  <div class="ball"></div>
  Routes
</div>
<div [routerLink]="['/park', park.sys.id, 'activities']" routerLinkActive="active" class="item">
  <div class="ball"></div>
  Activities
</div>
<div [routerLink]="['/park', park.sys.id, 'quests']" routerLinkActive="active" class="item">
  <div class="ball"></div>
  Quests
</div>
