:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  flex-flow: row;
  box-shadow: 8px 0px 14px rgba(0, 0, 0, 0.15);
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 11px;
    width: 20%;
    .ball {
      height: 26px;
      width: 26px;
      border-radius: 100%;
      background: #eee;
      margin-bottom: 3px;
    }
    &.active {
      .ball {
        background: var(--orange);
      }
    }
  }
}
