@font-face {
  font-family: "Avenir-Black";
  src: url("/assets/fonts/AvenirLTStd-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Book";
  src: url("/assets/fonts/AvenirLTStd-Book.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Roman";
  src: url("/assets/fonts/AvenirLTStd-Roman.otf") format("opentype");
  font-style: normal;
}
