/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "fonts.scss";

:root {
  --orange: #f97c80;
  --blue: #2fa1f3;
  --gradient: #2b3c56;
  --grey: #858585;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Avenir-Black", "Helvetica Neue", sans-serif;
}
