<ng-container *ngIf="park | async as park">
  <app-parkswitch [park]="park"></app-parkswitch>
  <h1 class="title">Activities</h1>

  <div class="activity" *ngFor="let activity of activities | async">
    <h3 class="activity-title">
      {{ activity.fields.title }}
    </h3>
    <p>
      {{ activity.fields.description }}
    </p>

    <a class="share" [href]="'https://www.facebook.com/sharer/sharer.php?u=' + locationUrl" target="_blank">Share on
      Facebook</a>

  </div>

  <app-nav [park]="park"></app-nav>
</ng-container>
