:host {
	display: block;
	max-height: 100%;
	overflow: auto;
	margin-bottom: 50px;

	.title {
		margin: 24px 8px;

		color: var(--orange);
	}
	.activity {
		border: 1px solid #eee;

		padding: 16px;
		h3,
		p {
			margin: 4px;
		}
		p {
			color: #444;
		}
		.share {
			color: dodgerblue;
		}
	}
}
